[JavaScript:{ path: "~/DesktopModules/Dnn/ContactList/ClientScripts/contacts.js"}]
[JavaScript:{ path: "~/DesktopModules/Dnn/ContactList/ClientScripts/util.js"}]
[JavaScript:{ path: "~/Resources/Shared/scripts/dnn.jquery.js"}]

<script type="text/javascript">
	var d = new Date();
	var moduleId = <%= ModuleId %>;
	var portalId = <%= PortalId %>;
	var currentUser = <%= UserId %>;
	var currentDate = d;
	var userRoles = <%= ShowRoles() %>;
    var sf = $.ServicesFramework(<%:ModuleContext.ModuleId%>);
    <% if (IsUserAdmin) { %>
	var editMode = true;
	<% } %>
</script>
<%
	DotNetNuke.Common.Utilities.DataCache.ClearUserCache(PortalId, UserInfo.Username);
 %>
<div class="module-wrap" ng-view>
</div>