<section class="course-list" ng-hide="viewMode">
	<div class="module-heading">
		<div class="container">
			<div class="row">
				<h1 class="col-md-12">{{ resx.VideoListPage_Title }}</h1>
			</div>
		</div>
	</div>
	<div class="row" ng-show="editMode">
		<div class="col-md-2 pull-right">
			<a ng-href="{{ '#/status' }}" class="btn btn-xs btn-tertiary btn-edit" aria-label="{{ resx.ViewCourseProgress_Lbl }}">
				<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> {{ resx.ViewCourseProgress_Btn }}
			</a>
		</div>
		<div class="col-md-2 pull-right">
			<a href="#/categories" class="btn btn-xs btn-tertiary btn-edit" aria-label="{{ resx.EditCategoriesCourse_Lbl }}">
				<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> {{ resx.EditCategoriesCourse_Btn }}
			</a>
		</div>
	</div>
	<ul class="list-unstyled">
		<li class="course-categories" ng-repeat="category in categories">
			<h1>{{ category.RoleGroupName }}</h1>
			<ul class="list-unstyled">
				<uib-accordion close-others="true">
					<uib-accordion-group ng-repeat="course in category.Roles" ng-init="status = $first" is-open="status" template-url="/DesktopModules/Calvary_VideoCourse/ng/Views/templates/accordion-group.html">
					</uib-accordion-group>
				</uib-accordion>
			</ul>
		</li>
	</ul>
</section>
<div ng-show="viewMode">
	<p>{{ resx.LoggedOutMessage }}</p>
</div>