<section class="course-list" ng-hide="viewMode">
	<div class="page-header">
		<div class="row">
			<h1 class="col-sm-9">{{ resx.VideoListPage_Title }}</h1>
			<div class="col-md-3" ng-show="editMode">
				<div class="btn-group" uib-dropdown is-open="status.isopen">
					<button id="single-button" type="button" class="btn btn-default return-button" uib-dropdown-toggle ng-disabled="disabled">
						<span class="glyphicon glyphicon-menu-hamburger " aria-hidden="true"></span> {{ resx.CourseManagement_Text }} <span class="caret"></span>
					</button>
					<ul class="list-unstyled" uib-dropdown-menu role="menu" aria-labelledby="single-button">
						<li role="menuitem"><a href="#/categories">{{ resx.EditCategoriesCourse_Btn }}</a></li>
						<li role="menuitem"><a ng-href="{{ '#/status' }}">{{ resx.ViewCourseProgress_Btn }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<ul class="list-unstyled">
		<li class="course-categories" ng-repeat="category in categories">
			<h1>{{ category.RoleGroupName }}</h1>
			<ul class="list-unstyled">
				<uib-accordion close-others="true">
					<uib-accordion-group ng-repeat="course in category.Roles" ng-init="status = $first" is-open="status" template-url="/DesktopModules/Calvary_VideoCourse/ng/Views/templates/accordion-group.html">
					</uib-accordion-group>
				</uib-accordion>
			</ul>
		</li>
	</ul>
</section>
<div ng-show="viewMode">
	<p>{{ resx.LoggedOutMessage }}</p>
</div>